---
---
<section class="bg-gray-900 text-white">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3 lg:items-center lg:gap-16">
      <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
        <h2 class="text-3xl font-bold sm:text-4xl">
          Thriving Together
          <strong class="font-extrabold text-blue-500"> Testimonials of Success </strong>
        </h2>

        <p class="mt-4 text-gray-300">
          Discover what our satisfied clients have to say about their experiences. Read these testimonials to learn how my services.
        </p>

        <div class="mt-8 flex justify-center gap-4 sm:justify-start">
          <div class="flex">
            <img class="inline-block h-12 w-12 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            <img class="inline-block h-12 w-12 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1550525811-e586910b323f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            <img class="inline-block h-12 w-12 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="ml-4">
            <p class="text-2xl font-bold">311K+</p>
            <p class="text-sm text-gray-400">Happy Clients</p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:col-span-2">
        <div class="rounded-xl bg-gray-800 p-8">
          <div class="flex items-center gap-4">
            <img alt="Man" src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" class="h-14 w-14 rounded-full object-cover"/>
            <div>
              <div class="flex justify-center gap-0.5 text-yellow-500">
                <!-- Stars -->
              </div>
              <p class="mt-1 text-lg font-medium">Sarah K.</p>
              <p class="text-sm text-gray-400">Manager Of Lokopana Inc</p>
            </div>
          </div>

          <p class="mt-4 text-gray-300">
            “The user interface of this mobile app is incredibly intuitive and user-friendly, it's a joy to navigate”
          </p>
        </div>

        <div class="rounded-xl bg-gray-800 p-8">
           <div class="flex items-center gap-4">
            <img alt="Man" src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80" class="h-14 w-14 rounded-full object-cover"/>
            <div>
              <div class="flex justify-center gap-0.5 text-yellow-500">
                <!-- Stars -->
              </div>
              <p class="mt-1 text-lg font-medium">Nadia H.</p>
              <p class="text-sm text-gray-400">Ceo of Humings Inc</p>
            </div>
          </div>
          <p class="mt-4 text-gray-300">
            “Working with george was a game-changer for our business. they transformed our website”
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
