---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Brands from '../components/Brands.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Testimonials from '../components/Testimonials.astro';
---

<Layout title="Mateo Castaño - Software Engineer">
	<main>
		<Hero />
		<Brands />
		<Skills />
		<Projects />
		<Contact />
		<Testimonials />
	</main>
</Layout>
